    * {
        box-sizing: border-box;
        margin: 0;
    }
    
    .generate {
        /* margin-top: 30px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0); */
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .generate .selectYear {
        margin: 0.3rem;
        font-size: 1.2rem;
    }
    
    .generate .selectMonth {
        margin: 0.3rem;
        font-size: 1.2rem;
    }
    
    .generate .submit {
        margin: 0.3rem;
        font-size: 1.2rem;
    }
    
    .generate .randomYear {
        margin: 0.3rem;
        font-size: 1.2rem;
    }
    
    ul {
        list-style-type: none;
    }
    
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .calendar {
        width: 40rem;
    }
    
    body {
        font-family: Verdana, sans-serif;
        background-color: #666;
    }
    
    .month {
        padding: 0 2rem;
        width: 100%;
        background: #1abc9c;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: 10rem;
    }
    
    .month .openedYear {
        color: white;
        font-size: 2.5rem;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5rem;
    }
    
    .month h1 {
        color: white;
        letter-spacing: 3px;
        font-size: 2.5rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5rem;
    }
    
    .month .currentDate {
        color: white;
        font-size: 1.4rem;
    }
    
    .month ul {
        margin: 0;
        padding: 0;
    }
    
    .month ul li {
        color: white;
        font-size: 2rem;
        cursor: pointer;
    }
    
    .month .prev {
        float: left;
        padding-top: 10px;
    }
    
    .month .next {
        float: right;
        padding-top: 10px;
    }
    
    .date {
        color: white;
    }
    
    .weekdays {
        margin: 0;
        padding: 10px 0;
        background-color: #ddd;
    }
    
    .weekdays li {
        display: inline-block;
        width: 13.5%;
        color: #666;
        text-align: center;
    }
    
    .days {
        padding: 10px 0;
        background: #eee;
        margin: 0;
        height: 10rem;
    }
    
    .days div {
        list-style-type: none;
        display: inline-block;
        width: 14.28%;
        text-align: center;
        padding: 5px;
        font-size: 12px;
        color: #777;
    }
    
    .days div:hover:not(.active) {
        /* border: 1px solid #766; */
        background: #7ae2cd;
        color: white;
        cursor: pointer;
        padding: 5px;
    }
    
    .active {
        padding: 5px;
        background: #1abc9c;
        color: white !important
    }
    
    .active:hover {
        cursor: pointer;
    }
    
    .prev-date,
    .next-date {
        opacity: 0.3;
    }
    /* @media screen and (max-width:720px) {
        .weekdays li {
            width: 13.1%;
        }
    }

    @media screen and (max-width:720px) {
        .month h1 {
            font-size: 2rem;
        }
    }

    @media screen and (max-width:720px) {
        .month p {
            font-size: 1rem;
        }
    }

    @media screen and (max-width: 420px) {
        .weekdays li {
            width: 12.5%;
        }
    }

    @media screen and (max-width: 290px) {
        .weekdays li {
            width: 12.1%;
        }
    } */